__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/
env/
.env
*.sqlite3
db.sqlite3
db.sqlite3-journal
.idea/
.vscode/
*.log
*.pot
*.pyc
.DS_Store
Thumbs.db
*.egg-info/
dist/
build/
.postman/
*.geojson
